{% extends 'base.html' %} {% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="blog-post-area">
          <h2 class="title text-center">Latest From our Blog</h2>
          {% for blog in blogs %}
          <div class="single-blog-post">
            <h3>{{ blog.title }}</h3>
            <div class="post-meta">
              <ul>
                <li><i class="fa fa-user"></i> {{ blog.author }}</li>
                <li><i class="fa fa-clock-o"></i> {{ blog.created_at }}</li>
                <li><i class="fa fa-calendar"></i> {{ blog.description }}3</li>
              </ul>
              <span>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </span>
            </div>
            <a href="">
              <img src="{{ blog.image.url }}" alt="" />
            </a>
            <p>{{ blog.content }}</p>
            <a class="btn btn-primary" href="{% url 'blog_detail' blog.id %}">Read More</a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
